@model MealItem



<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Edit Meal Item</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="MealItemName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MealItemName" class="form-control" />
                <span asp-validation-for="MealItemName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MealItemDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MealItemDescription" class="form-control" />
                <span asp-validation-for="MealItemDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MeasureType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MeasureType" class="form-control" />
                <span asp-validation-for="MeasureType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>


