@model clean_aspnet_mvc.Data.MealItem



<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Edit Meal Item</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="MealItemName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MealItemName" class="form-control" />
                <span asp-validation-for="MealItemName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MealItemDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">

                <textarea rows="3" class="form-control" asp-for="MealItemDescription"></textarea>
                <span asp-validation-for="MealItemDescription" class="text-danger"></span>
            </div>
        </div>
         <div class="form-group">
            <label asp-for="MenuItemTypeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.EditorFor(x => x.MenuItemTypeId)
                <span asp-validation-for="MenuItemTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MeasureType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MeasureType" class="form-control" />
                <span asp-validation-for="MeasureType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfServings" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberOfServings" class="form-control" />
                <span asp-validation-for="NumberOfServings" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading">
    <a asp-action="MealItemIngredientAdd" type="button" class="btn btn-default btn-sm pull-right" asp-route-id=@Model.Id>
              <div class="glyphicon glyphicon-plus"  aria-hidden="true" ></div>
              Add an ingredient
    </a>
    <h class="panel-title">Meal Item Ingredients</h3>
  </div>

    @Html.Partial("MealItemIngredientList", Model.Ingredients)

  </div>
<p>
     <a asp-action="Index">Back to List</a>
</p>


