
<h4>Manage @ViewData["CurrentLocationName"]</h4>

<div class="panel panel-default">
  <div class="panel-heading">Event planning</div>
  <div class="panel-body">
<ul >
  <li><a asp-area="" asp-controller="Event" asp-action="Index">Events</a></li>
                          <li><a asp-area="" asp-controller="Menu" asp-action="Index">Menus</a></li>
                          <li><a asp-area="" asp-controller="MealItem" asp-action="Index">Meal Item</a></li>


</ul>
</div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">Manage Lists</div>
  <div class="panel-body">
    <p>
    Each location has it's own lists of Categories, Items and other lists that are needed to organize events. These are mostly lookup tables that you will set up at the beginning and change less often.
    </p>
<ul >
  <li><a asp-area="" asp-controller="GroceryCategory" asp-action="Index">Grocery Catogories</a></li>
                          <li><a asp-area="" asp-controller="EventType" asp-action="Index">Event Types</a></li>
                          <li><a asp-area="" asp-controller="GroceryItem" asp-action="Index">Grocery Items</a></li>


                          <li><a asp-area="" asp-controller="MenuItemType" asp-action="Index">Menu Item Types</a></li>
                          <li><a asp-area="" asp-controller="EventMealSlotType" asp-action="Index">Meal Slots</a></li>
</ul>
</div>
</div>

