@model clean_aspnet_mvc.Models.ShoppingViewModels.ShoppingListCalculationViewModel

<h3>Shopping List Details</h3>

<form asp-action="CalculateIngredientsForMeals">
    <div class="form-horizontal">

<div class="list-group-item list-group-item-info">Consolidated Shopping List<br/></div>
<table class="table">
   @{
     var previousCategory = "";
     var previousGroceryItemName = "";
     var rows = Model.GetConsolidatedShoppingListRows().OrderBy(x => x.CategoryName).ThenBy( x => x.GroceryItemName).ToList();
     var howManyWithTheSameCategory = 0;
     var mustRenderCategory = true;
   }

   @foreach(var thisRow in rows)
    {
      if (previousCategory!= thisRow.CategoryName)
      {
        mustRenderCategory = true;
      }
      howManyWithTheSameCategory = rows.Where( x=> x.CategoryName == thisRow.CategoryName && thisRow.GroceryItemName == thisRow.GroceryItemName).Count();
      <tr>
        @if (mustRenderCategory)
        {
          <td rowspan=@howManyWithTheSameCategory colspan="1">
            @(thisRow.CategoryName != previousCategory ? thisRow.CategoryName : "")
          </td>
        }
          <td>
            @thisRow.GroceryItemName
          </td>
          <td>
            @thisRow.Quantity.ToString("#.##")  @thisRow.Measure
          </td>
      </tr>
      previousCategory = thisRow.CategoryName;
      previousGroceryItemName = thisRow.GroceryItemName;
      mustRenderCategory = false;

    }
</table>
<div class="well">
 <input type="submit" value="Continue >>" class="btn btn-success" />
 </div>
    </div>
</form>


