@model clean_aspnet_mvc.Data.GroceryItem

@{
  bool canDelete = ViewBag.UsedByMealItems.Count == 0;
}


<div>
    <h4>Ingredient / Grocery Item Confirm Delete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroceryItemName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroceryItemName)
        </dd>
    </dl>
@if (canDelete) {

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
} else {
<div class="alert alert-warning">Cannot delete used ingredients.</div>
<div class="panel panel-default">
  <div class="panel-heading">Recipes using this ingredient

  </div>
    <ul class="list-group">

    @foreach(var mealItem in ViewBag.UsedByMealItems)
    { var editUrl = "/MealItem/Edit/" + @mealItem.Id;
      <li class="list-group-item"><a href=@editUrl >@mealItem.MealItemName</a></li>
    }
    </ul>
</div>



}
</div>
</body>
</html>
