@model IEnumerable<clean_aspnet_mvc.Data.MealItemIngredient>



<ul class="list-group">
@foreach (var item in Model) {
 <a asp-action="MealItemIngredientEdit" asp-route-id="@item.Id" class="list-group-item">
        <p class="list-group-item-text">
        <h4>   @Html.DisplayFor(modelItem => item.GroceryItem.GroceryItemName)
     </h4>

        @Html.DisplayFor(modelItem => item.Quantity) @Html.DisplayFor(modelItem => item.MeasureType)
        </p>
       </a>
}
</ul>




