@model clean_aspnet_mvc.Data.MealItemIngredient

<h4> Edit Ingredient in Recipe</h4>
 <div class="well">
    For easier calculations you should use full measures and fractional quantities instead of fractional measures and full quantities.

<br/>
<br/>
     Example: use <span class="label label-success">0.25 gallons</span> instead of <span class="label label-danger">1 quart</span>.
    </div>
<form asp-action="MealItemIngredientEdit">

    @Html.Hidden( "MealItemId",  ViewData["MealItemId"] )
    @Html.HiddenFor(x => x.Id )
    <div class="form-horizontal">

        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="GroceryItemId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="GroceryItemId" class ="form-control" asp-items="ViewBag.GroceryItemId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MeasureType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MeasureType" class="form-control" />
                <span asp-validation-for="MeasureType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<p>
 <br/><br/>
<a asp-action="MealItemIngredientDelete" asp-route-id="@Model.Id"  class="btn btn-warning btn-xs" title="Create a new Event" align=left>
   Remove ingredient from recipe
</a>

</p>




