
<h4>Manage @ViewData["CurrentLocationName"]</h4>

<div class="panel panel-default">


<ul class="list-group">
    <a href="/Event" class="list-group-item">

      <h4 class="list-group-item-heading">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        Events
      </h4>

    </a>
    <a href="/Menu" class="list-group-item">

      <h4 class="list-group-item-heading">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Menus
      </h4>

    </a>
    <a href="/MealItem" class="list-group-item">

      <h4 class="list-group-item-heading">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        Recipes
      </h4>

    </a>
</ul>
</div>



<div class="panel panel-default">
  <div class="panel-heading"><h4>Manage Lists</h4>
   <p>
  These are items that change less often and need to be configured in order for you to be able to create menus and events.
     </p>
  </div>

<ul class="list-group">
    <a href="/GroceryCategory" class="list-group-item">
      <h4 class="list-group-item-heading">
        Grocery Catogories
      </h4>
      <p class="list-group-item-text">
        Organize ingredients into categories so that when you have to buy groceries you know what category they belong to.
      </p>
    </a>
    <a href="/EventType" class="list-group-item">
      <h4 class="list-group-item-heading">
        Event Types
      </h4>
      <p class="list-group-item-text">
        Enables you to classify your events depending on what they are for.
      </p>
    </a>
    <a href="/GroceryItem" class="list-group-item">
      <h4 class="list-group-item-heading">
        Grocery Items
      </h4>
      <p class="list-group-item-text">
        To be used as ingredients for your recipes. They represent the things you are going to shop for.
      </p>
    </a>
    <a href="/MenuItemType" class="list-group-item">
      <h4 class="list-group-item-heading">
        Menu Item Types
      </h4>
      <p class="list-group-item-text">
        Each menu item can be categorized as Entree, Dessert or any other type.
      </p>
    </a>
    <a href="/EventMealSlotType" class="list-group-item">
      <h4 class="list-group-item-heading">
        Meal Slot
      </h4>
      <p class="list-group-item-text">
        What time of day is the menu for? Breakfast, lunch, idnner...
      </p>
    </a>

  </ul>

</div>

