@model IEnumerable<clean_aspnet_mvc.Data.EventType>



<h4>Event Types</h4>
<div class="alert alert-info">
Manage your event types here so that every time you create an event you can specify what type it is.

For example, you might want to create the following event types: "Pioneer Meeting", "Elder's Meeting" etc.
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventTypeName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


