@model GroceryCategory




<form asp-action="Create">
    <div class="form-horizontal">
        <h4>GroceryCategory</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="GroceryCategoryName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GroceryCategoryName" class="form-control" />
                <span asp-validation-for="GroceryCategoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GroceryCategoryDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GroceryCategoryDescription" class="form-control" />
                <span asp-validation-for="GroceryCategoryDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
