@model clean_aspnet_mvc.Data.Menu



<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Menu</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div class="panel panel-default">
  <div class="panel-heading">

    <h3 class="panel-title">Recipies</h3>
  </div>

    @Html.Partial("MealItemList", Model.MealItems)

<div class="panel-footer">

   @Html.Partial("AddMealItem")
</div>
      </div>


<div>
    <a asp-action="Index">Back to list of Menus</a>
</div>
<p>
 <br/><br/>
<a asp-action="delete" asp-route-id="@Model.Id"  class="btn btn-warning btn-xs" title="Create a new Event" align=left>
   Delete this Menu
</a>

</p>

