@model IEnumerable<clean_aspnet_mvc.Data.MealItem>




<h4>Manage Recipes</h4>
<a asp-action="Create" class="btn btn-success btn-xs" title="Create a new Event" align=left>
  <span class="glyphicon glyphicon-plus" aria-hidden="true">
  </span>
   Add a Recipe
</a>
<p>
<div class="panel panel-default">
<ul class="list-group">
@foreach (var item in Model) {
        <a asp-action="Edit" asp-route-id="@item.Id" class="list-group-item">
        <p class="list-group-item-text">
        <h4>@Html.DisplayFor(modelItem => item.MealItemName)</h4>

 <span class="label label-info">
           @Html.DisplayFor(modelItem => item.MenuItemType.Name)
          </span>


        </p>
       </a>



}


</ul>
</div>
