@model clean_aspnet_mvc.Data.Event

<div class="panel panel-default">

  <div class="panel-heading">
<button type="button" class="btn btn-default btn-sm pull-right">
          <div class="glyphicon glyphicon-plus" aria-hidden="true" ></div>

    </button>
<h class="panel-title">Event meals</h3>
  </div>
  <div class="panel-body">


@if (Model.Meals == null) {
      <div class="alert alert-info">There are currently no meals scheduled for this event.</div>
    }
  </div>




        <table class="table">

             @if (Model.Meals != null) {
            <tbody>
              @foreach (var item in Model.Meals) {
                        <tr>
                            <td>
                              @item.EventMealSlot.Name
                            </td>
                            <td>
                              @item.Menu.Name
                            </td>
                            <td>
                                <a asp-action="DeleteEventMeal" asp-route-id="@item.Id" asp-route-eventId=@Model.Id>Delete</a>
                            </td>
                        </tr>
                }

            </tbody>
            }

        </table>
<hr/>
 @Html.Partial("AddEventMenu", Model)


</div>

